* {
    /* background-image: url("milky-way.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

button {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em;
    color: white;
    background-color: blue;
    border: 10px solid yellow;
    border-radius: 5px;
    z-index: -1;
    position: absolute;
}

header {
    font-family: monospace ;
}

body {
    background-image: url("milky-way.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
}

.form {
    display: flex;
    justify-content: center;
}

.col-lg-12 {
    display: flex;
    justify-content: center;
}

#today {
    border-radius: 25px;
    border: 2px solid rgb(245, 222, 179);
    padding: 20px;
}

#today2 {
    border: 2px solid rgb(245, 222, 179);
    padding: 20px;
}

