header {
    font-family: monospace;
}

body {
    background-image: url("./assets/milky-way.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
}

.form {
    display: flex;
    justify-content: center;
}

.col-lg-12 {
    display: flex;
    justify-content: center;
}


#weatherCard {
    padding: 20px;
    background: rgb(222, 198, 186, .5);
}


#today2 {
    display: none;
}

#search-button {
    font-size: 0.4cm;
    font-family: monospace;
    font-weight: 400;
    margin: 3px;
    padding: 5px;
    color: white;
    background-color: rgb(119, 129, 131);
    border: 3px solid rgb(222, 198, 186);
    border-radius: 5px;
    position: relative;
}

#search-button:hover {
    transform: translateY(-5px);
    background-color: white;
    color: black;
}


body {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 480px) {
    body {
        background-image: url("./assets/milky-way.jpg");
    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-image: url("./assets/milky-way.jpg");
    }
}

@media (min-width: 1025px) {
    body {
        background-image: url("./assets/milky-way.jpg");
    }
}


ul li {
    text-align: center;
    font-family: monospace;
}