* {
    background-color:rgb(233, 139, 132)
}

header {
    font-family: monospace ;
}

h1 {
    color: black;
}

.form {
    display: flex;
    justify-content: center;
}

.col-lg-12 {
    display: flex;
    justify-content: center;
}

#today {
    border-radius: 25px;
    border: 2px solid rgb(245, 222, 179);
    padding: 20px;
}

#today2 {
    border: 2px solid rgb(245, 222, 179);
    padding: 20px;
}
